.DS_Store
*.nb.html
Homework_Data_wrangling.Rmd
Homework_Markdown_Stats.Rmd
Reference_notebook_Stats.Rmd
Reference_notebook_Stats.nb.html
Reference_notebook_data_wrangling.Rmd
Reference_notebook_data_wrangling.nb.html
Reference_notebook_markdown.nb.Rmd
Reference_notebook_markdown.nb.nb.html
